In [ ]:
#ANS 1 : 

''' 
1.) max() 
2.) sort_values()
3.) describe()
4.) categorical()
5.) loc() & iloc()
'''

In [ ]:
#ANS 2 : 

import pandas as pd
dict1 = {"A":[1,2,3,5,4,5,4], "B":[4,5,6,5,6,7,8], "C":[7,8,9,3,4,7,5]}
df = pd.DataFrame(dict1)
df_data = df.reindex([1,3,5,7,9])
print(df_data)

In [ ]:
#ANS 3 : 

data2 = {"VALUES": [10,20,30,40,50,60,70]}
df = pd.DataFrame(data2)
for column in data2:
    print(df["column"].sum[0:2])

In [ ]:
#ANS 4 : 

data3 = {"TEXT": ['ROHANI','SAHIL','ADITIYA']}
df1 = pd.DataFrame(data3)
df1["WORD_COUNT"] = []

for TEXT in data3:
    TEXT.count(data3)
    df.append(df1)

In [ ]:
#ANS 5 : 

''' 
DATAFRAME SIZE() IS BASICALLY GETS THE NUMBER OF ELEMENTS PRESEN IN A DATAFRAME LIKE NUMBER OF ROWS AND 
COLUMNS.

DATAFRAME SHAPE() IS BASICALLY GETS THE DIMENTIONALITY/CARDINALITY OF A DATAFRAME WHETHER A DATAFRAME IS 
OF 2 DIM OR 3 DIM.

'''

In [ ]:
#ANS 6 : 

df = pd.read_Excel("FILE PATH/NAME")

In [ ]:
#ANS 7 : 

import pandas as pd
data4 = {"EMAIL" : ["devaansh@gmail.com", "ramesh@gmail.com", "johnwick@gmail.com"]}
DF1 = pd.DataFrame(data4)
DF1["USERNAME"] = DF1["EMAIL"].apply(lambda x : x.split("@")[1])

In [ ]:
#ANS 8 : 

import pandas as pd
data5 = {"A":[3,8,6,2,9], "B":[5,2,9,3,1], "C":[1,7,4,5,2]}
DF3 = pd.DataFrame(data5)

DF3["ABC"] = DF3[(DF3["A"] < 5) & (DF3["B"] > 10)]

In [ ]:
#ANS 9 : 

import pandas as pd
data6 = {"VALUES":[3,8,6,2,9,5,2,9,3,1,1,7,4,5,2]}
DF4 = pd.DataFrame(data6)
DF4.describe()

In [ ]:
#ANS 10 : 

import pandas as pd
data7 = {"DATE":["D1","D2","D3","D4","D5","D6","D7","D8","D9","D10"], "SALES":[5000,2000,9000,30000,23000,
                                                                               43000,23000,54000,65000,
                                                                               70000]}

DF5 = pd.DataFrame(data7)
DF5.avg.iloc([0:8])

In [ ]:
#ANS 11 : 

import pandas as pd
dict3 = {"DATE":["01-03-2022","02-03-2022","03-03-2022","04-03-2022"]}
Df = pd.DataFrame(dict3)

Df["WEEKDAYS"] = ["MONDAY", "TUESDAY", "WEDNUSDAY", "THURSDAY"]
print(Df)

In [ ]:
#ANS 12 : 

import pandas as pd
dict3 = {"DATE":["01-2023","02-2023","03-2023","04-2023","05-2023","06-2023","07-2023","08-2023","09-2023",
                 "10-2023","11-2023","12-2023","13-2023","14-2023","15-2023","16-2023","17-2023",
                 "018-2023","19-2023","20-2023","21-2023","22-2023","23-2023","24-2023","25-2023","26-2023",
                "27-2023","28-2023","29-2023","30-2023","31-2023"]}

Df = pd.DataFrame(dict3)
Df["DATE"][0:22]

In [ ]:
#ANS 13 :

''' 
TO USE EACH AND EVERY FUNCTION RELATED TO DATA BY ANYSENCE WE NEED TO IMPORT  "PANDAS" LIBRARY 

SYNTAX :-   
             import pandas as pd
             
'''